@use "./colors.scss";
$secondary-color: colors.$secondary-color;

.link {
  text-decoration: underline;
  color: darkblue;
}

.advanced-search-invitation {
  background-color: $secondary-color;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px gray;
}