.tour-description {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 30px;
  justify-items: start;
  & p {
    text-align: start;
    // text-wrap: nowrap;
    &.property-name {
      font-weight: 600;
    }
  }
  width: 65vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 0px gray;
}

.next-dates-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
}