.tour-description {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 30px;
  justify-items: start;
  position: relative;
  & p {
    text-align: start;
    // text-wrap: nowrap;
    &.property-name {
      font-weight: 600;
    }
  }
  width: 65vw;
  padding: 20px;
  padding-left: 25px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 0px gray;
  background-color: white;
  &::after {
    content: '';
    background: no-repeat center/20% url('../assets/logo.png');
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
  }
}

.next-dates-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
}