.tag-container {
  position: absolute;
  top: -25px;
  right: -25px;
  display: inline-block;
  width: 65px;
  height: 65px;
  z-index: 2;
  filter: drop-shadow(2px 2px 2px gray);
  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    text-align: center;
    text-wrap: wrap;
  }
  & img {
    height: inherit;
    width: inherit;
  }
}